body {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

h1,
p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #1d1d1d;

}


.bouton {
  display: block;
  margin: 2rem auto;
}
